<!DOCTYPE HTML>
<html>
<head>
	<title>Node.js Board Test</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<%- include('include/commonEjs.ejs') %>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			</button>
			<a class="navbar-brand" href="/">Board Test</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#about">Board</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- 회원가입 Modal -->
<div class="modal fade" id="accountModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">회원가입</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="/account" method="post">
		<input type="text" class="form-control" name="id" placeholder="아이디" required /><br/>
		<input type="password" class="form-control" name="pw" placeholder="패스워드" required /><br/>
		<input type="text" class="form-control" name="nick" placeholder="닉네임" required /><br/>
		<input type="submit" class="form-control" value="회원가입" />
	</form>
      </div>

    </div>
  </div>
</div>	

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-9">
				<h2>게시판</h2><br>
			</div>
			<div class="col-sm-3 text-center" style="border:1px solid black; padding:10px;">
				<% if(session.userId == null || session.userId == ""){ %>
				<form action="./login" method="post">
					<input type="text" class="form-control" name="id" placeholder="아이디" /><br/>
					<input type="password" class="form-control" name="pw" placeholder="패스워드" /><br/>
					<input type="submit" class="form-control btn-primary" value="로그인" /><br/>
					<a href="#" data-toggle="modal" data-target="#accountModal">아직도 회원이 아니신가요?</a>
				</form>
				<% } else { %>
				<form action="./logout" method="post">
					<input type="text" class="form-control" name="id" value="환영합니다." readonly /><br/>
					<input type="text" class="form-control" name="nick" value="<%= session.nickname %>님" readonly /><br/>
					<input type="submit" class="form-control btn-primary" value="로그아웃" /><br/>
					&nbsp;
				</form>
				<% } %>
			</div>

			<div class="col-sm-12 text-right" style="margin-top:10px;">
				<div class="form-group">
					<select class="form-inline" id="view_content_count">
						<option <%if(param.pageSize == 15){%>selected<%}%>>15개씩 보기</option>
						<option <%if(param.pageSize == 20){%>selected<%}%>>20개씩 보기</option>
						<option <%if(param.pageSize == 30){%>selected<%}%>>30개씩 보기</option>
						<option <%if(param.pageSize == 50){%>selected<%}%>>50개씩 보기</option>
						
					</select>
				</div>
			</div>
		
			<table class="table table-hover">
				<colgroup>
					<col width="5%">
					<col width="30%">
					<col width="10%">
					<col width="15%">
					<col width="10%">
				</colgroup>
				<thead>
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>작성자</th>
						<th>작성일</th>
						<th>조회 수</th>
					</tr>
				</thead>
				<tbody id="board">
				<%
				if(cnt > 0){
					for(var i=0; i<result.length; i++){
				%>
				<tr id="<%=result[i].bno%>">
					<td><%=result[i].bno%></td>
					<td><%=result[i].title%></td>
					<td><%=result[i].nickname%></td>
					<td><%=result[i].regdate%></td>
					<td><%=result[i].viewcnt%></td>
				</tr>
				<%
					}
				}
				%>
				</tbody>
			</table>
			<div class="col-sm-1 text-left">
				<div class="btn-group">
					<button class="btn btn-primary btn-write">쓰기</button>
				</div>
			</div>

			<div class="col-sm-10 text-center">
				<ul class="pagination">
					<%
					prev_disabled="", prev_href="";
					next_disabled="", next_href="";
					param.page*=1;
					param.pageSize*=1;			
	
					// 이전 버튼	
					if(param.page == 1)prev_disabled="disabled";
					else prev_href="./?page=" + (param.page-1) + "&pageSize=" + param.pageSize;
					%>
					<li class='page-item <%=prev_disabled%>'><a class='page-link' href='<%=prev_href%>'>이전</a></li>

					<%
					// 페이징 리스트
					var i=((parseInt((param.page-1)/10))*10)+1, count=0;
					var listactive="";

					while(count < 10 && (i*param.pageSize < cnt+param.pageSize)) {
						listactive="";
						if(i == param.page)listactive="active";
						%>
						<li class="page-item <%=listactive%>"><a class="page-link" href="./?page=<%=i%>&pageSize=<%=param.pageSize%>"><%=i%></a></li>
						<%
						i = i + 1;
						count = count + 1;
					}
					%>

					<%
					// 다음 버튼
					max_page = 1;
					while(max_page*pageSize < cnt + pageSize){
						max_page = max_page + 1;
					}
					max_page = max_page -1;

					if(param.page == max_page)next_disabled="disabled";
					else next_href="./?page=" + (param.page+1) + "&pageSize" + param.pageSize;
					%>
					<li class="page-item <%=next_disabled%>"><a class="page-link" href="<%=next_href%>">다음</a></li>
				</ul>
			</div>

		</div>
	</div>
</div>

<!-- Footer -->
<footer class="container-fluid text-center bg-grey">
	<a href="#myPage" title="To Top">
		<span class="glyphicon glyphicon-chevron-up"></span>
	</a>
	<p>Board Test Made By Eduwill Project Internship</p>
</footer>

<script>

function readContent(bno){
	if(bno > 0){
		window.location.href="/board/read?bno="+bno;
	}
}

$(document).ready(function(){
	// 읽기
	$("tr").click(function(){
		if(this.id > 0){
			window.location.href="/board/read?bno="+this.id;
		}
	});
	// 쓰기
	$(".btn-write").click(function(){
		window.location.href="/board/write";
	});
	// 페이징 사이즈 변경
	$("#view_content_count").change(function(){
		var count = $(this).val().substring(0, 2) * 1;
		window.location.href="?page=<%=param.page%>&pageSize="+count;
	});
	//
	/*
	$.ajax({
		url: "./board/list"
		,method: "get"
		,success: function(result){
			if(result != null && result.length > 0){
				result.forEach(function(item, index){
					var tmp = $("#board").html();
					var adder =	"<tr onclick='readContent(" + item.bno + "); return false;'>";
					adder +=	"<td>" + item.bno + "</td>";
					adder +=	"<td>" + item.title + "</td>";
					adder +=	"<td>" + item.nickname + "</td>";
					adder +=	"<td>" + item.regdate + "</td>";
					adder +=	"<td>" + item.viewcnt + "</td>";
					adder +=	"</tr>";
					
					$("#board").html(tmp + adder);
				});
			}
		}
    	});
	*/
});
</script>

</body>
</html>
